<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/customerDetail.css">
    </head>
    <body>
        <!--nội dung hiển thị-->
        <main id="thong_tin_khach_hang">
            <!--Nút trở về-->
            <section id="btn-back">
                <a href="/khach-hang">
                    <i class='bx bx-arrow-back'></i>
                </a>
            </section>
            <span class="line"></span>
            <!--Thông tin khách hàng-->
            <section id="info-customer">
                <div>
                    <p class="name">{{customerDetail.HoKH}} {{customerDetail.TenKH}}</p>
                </div>
                <div class="items-khachhang">
                    <!--Hàng đầu (Tiêu thụ & SL Sản phẩm)-->
                    <div class="container-flex-row">
                        <div class="container-flex-column margin-right align-center">
                            <p class="big-text margin-bottom">TIÊU THỤ (VNĐ)</p>
                            <p class="tieu_thu border-info margin-bottom">{{customerDetail.SoTienTieuThu}}</p>
                        </div>
                        <div class="container-flex-column align-center">
                            <p class="big-text margin-bottom">SẢN PHẨM (sản phẩm)</p>
                            <p class="san_pham border-info margin-bottom">{{customerDetail.SoSanPhamTieuThu}}</p>
                        </div>
                    </div>
                    <div class="container-flex-row">
                    </div>
                    <div class="container-flex-row margin-bottom align-center">
                        <p class="big-text margin-right">EMAIL</p>
                        <p class="email border-info" >{{customerDetail.EmailLienLac}}</p>
                    </div>

                    <div class="container-flex-row margin-bottom align-center">
                        <p class="big-text margin-right-dia-chi">ĐỊA CHỈ</p>
                        <p class="address border-info" >{{customerDetail.DiaChiLienLac}}</p>
                    </div>
                </div>
            </section>
            <!--=================================================-->
            <span class="line"></span>
            <!--Lịch sử giao dịch-->
            <section>
                <div class="history">
                    <h3 style="margin-bottom: 10px;">LỊCH SỬ GIAO DỊCH</h3>
                    <!--tạo bảng lịch sử giao dịch-->
                    <table>
                        <thead>
                            <tr><!--tạo hàng-->
                                <th><!--tạo cột--><!--tiêu đề là th-->
                                    THỜI GIAN
                                </th>
                                <th>SẢN PHẨM</th>
                                <th>SỐ LƯỢNG</th>
                                <th>TỔNG TIỀN</th>
                                <th>TRẠNG THÁI</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr><!--tạo hàng-->
                                <td><!--tạo cột-->
                                    {{customerDetail.ThoiGianGiaoDich}}
                                </td>
                                <td>{{customerDetail.TenSanPhamGiaoDich}}</td>
                                <td>{{customerDetail.SoLuongGiaoDich}}</td>
                                <td>{{customerDetail.TongTien}}</td>
                                <td>{{customerDetail.TrangThaiGiaoDich}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>            
            <section>
                <div class="chart">
                    <div class="line-chart">
                      <span style="height: 80%"></span>
                      <span style="height: 60%"></span>
                      <span style="height: 40%"></span>
                      <span style="height: 20%"></span>
                    </div>
                  </div>
            </section>
        </main>
    </body>
</html>