<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" href="/css/purchase.css">
    </header>
    <body class="position-relative flex-row">
        <!--Nội dung content-->
        <main id="hang-hoa">
            <!--Tìm kiếm-->
            <section id="purchase-search">
                <div id ="search-box">
                    <form action ="/mua-hang/tim-kiem">
                        <input type="text" placeholder="Tìm kiếm..." id="search-text" name="search" value="{{search}}">
                        <button type="submit" id="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <!--Thêm sản phẩm-->
                <div id="add-items">
                    <a class="add-items" href="/mua-hang/them-san-pham" ><i class="fa-solid fa-user-plus"></i></a>
                </div>

            </section>

            <section>
                <a href="/mua-hang/hoa-don"> 
                    <button class="btn_hoa_don">
                        <span>Hóa đơn</span>
                    </button>
                </a>
            </section>

            <section>
                {{#each purchase}}
                <div class="sanpham">
                    <img src="/img/{{this.AnhSP}}" alt="Ảnh sản phẩm" class="purchase-img">
                    <h4 id="tensp">{{this.TenSP}}</h4>
                    <h5>{{this.DonGia}}</h5>
                    <p>{{this.MoTa}}</p>

                    <!--Xóa sản phẩm-->
                    <div id="delete-items">
                        <a class = "delete-items" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#delete-items-modal"><i class="fa-solid fa-user-minus"></i></a>
                    </div>

                    <div id="chi_tiet_san_pham">
                        <a class="chi-tiet-san-pham" href="/mua-hang/{{this.MaSP}}">
                            <button class="buy">Mua ngay</button>
                        </a>
                    </div>

                </div>
                {{/each}}
            </section>

        </main>
    </body>
</html>

{{!--Confirm delete-items--}}
<div id="delete-items-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa sản phẩm này không?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-items" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
        <button type="button" class="btn btn-primary">Hủy</button>
      </div>
    </div>
  </div>
</div>
 {{!--Delete hidden form--}}
<form id="delete-items-form" class="form-addItems" method="POST">
</form>



{{!--Lấy id cho sự kiện click button xóa--}}
<script>
  const delete_items = document.getElementById('delete-items-modal');
  const btnDeleteItems = document.getElementById('btn-delete-items');
  const deleteItemsForm = document.getElementById('delete-items-form');
  let itemsId;
  if (delete_items) {
    delete_items.addEventListener('show.bs.modal', function(event) {
      const button = event.relatedTarget;
      itemsId = button.getAttribute('data-bs-id');
  })
}
/*Tạo submit delete form */
  btnDeleteItems.onclick = function(){
    deleteItemsForm.action = "/mua-hang/"+ itemsId + "?_method=DELETE";
    deleteItemsForm.submit();
  }
</script>